body{
  
    background-image:
    linear-gradient(
        to right,
        rgba(76, 127, 178, 0.7),
        rgba(76, 127, 178, 0.7)
    ),
    url(https://cdn2.howtostartanllc.com/images/business-ideas/business-idea-images/Parking-Lot-Business.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Montserrat', sans-serif;
}

form {
    padding: 15px;

    border: 5px solid white;
}

#submit-button{
    background-color: white;
    color: black;
    font-family: 'Montserrat', sans-serif;
}