body{
  
    background-image:
    linear-gradient(
        to right,
        rgba(61, 142, 61, 0.6),
        rgba(76, 127, 178, 0.7)
    ),
    url(https://cdn2.howtostartanllc.com/images/business-ideas/business-idea-images/Parking-Lot-Business.jpg);

    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    margin: 0;
}